.element__btn {
	background: url(../../../images/heart.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	min-width: 22px;
	min-height: 19px;
	padding: 0;
	justify-self: end;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.element__btn:hover {
	opacity: 0.5;
}