@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("./vendor/fonts/Inter-Regular.woff2") format("woff2"),
		url("/vendor/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("./vendor/fonts/Inter-Medium.woff2") format("woff2"),
		url("./vendor/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url("./vendor/fonts/Inter-Black.woff2") format("woff2"), url("./vendor/fonts/Inter-Black.woff") format("woff");
}

.page {
	font-family: "Inter", Arial, sans-serif;
	min-width: 320px;
	max-width: 1280px;
	color: #fff;
	background-color: #000;
	margin: 0 auto;
	padding: 0;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

.header {
	min-height: 74px;
	border-bottom: 1px solid #545454;
	max-width: 880px;
	margin: 45px auto 40px;
}

.content {
	max-width: 880px;
	margin: 0 auto;
}

.profile {
	display: flex;
	align-items: center;
	margin: 0 0 50px;
}

.profile__avatar {
	width: 120px;
	border-radius: 50%;
}

.profile__info {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 16px 18px;
	align-items: center;
	margin: 0 0 0 30px;
}

.profile__info-title {
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	margin: 0;
}

.profile__edit-btn {
	width: 24px;
	height: 24px;
	background: none;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0 0;
	padding: 0;
	transition: 0.3s ease-in-out;
}

.profile__edit-btn:hover {
	opacity: 0.6;
	cursor: pointer;
}

.profile__edit-img {
}

.profile__info-subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}
.profile__add-btn {
	background: none;
	width: 150px;
	height: 50px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	margin-left: auto;
	padding: 0;
	transition: 0.3s ease-in-out;
}

.profile__add-btn:hover {
	opacity: 0.6;
	cursor: pointer;
}

.profile__add-img {
	width: 22px;
}

.elements {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px 17px;
	width: 100%;
	margin: 0 0 66px 0;
}

.element {
	width: 282px;
	height: 361px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: calc(282 / 361 * 100%) 1fr;
	border-radius: 10px;
	background: #fff;
	align-items: center;
}

.element__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	grid-column: span 2;
}

.element__title {
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 0 0 21px;
}

.element__btn {
	background: #fff url(./images/heart.svg);
	border: none;
	width: 22px;
	height: 19px;
	padding: 0;
	margin: 0 20px 0 0;
	justify-self: end;
	transition: 0.3s ease-in-out;
}

.element__btn:hover {
	opacity: 0.6;
	cursor: pointer;
}

.footer {
	max-width: 880px;
	margin: 0 auto 60px;
}

.footer__copyright {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #545454;
	margin: 0;
}

.popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	display: none;
}

.popup-opened {
	display: flex;
}

.popup__container {
	width: 430px;
	height: 330px;
	position: relative;
	background: #fff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.popup__close {
	padding: 0;
	position: absolute;
	top: -40px;
	right: -40px;
	background: none;
	border: none;
}

.popup__close-img {
	width: 100%;
}

.popup__title {
	display: block;
	max-width: 330px;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #000;
	margin: 34px 0 54px 36px;
}

.popup__form {
	display: flex;
	color: #000;
	flex-direction: column;
	align-items: center;
}

.popup__input {
	width: 358px;
	height: 27px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding: 0;
}

.popup__input_type_name {
	margin: 0 0 30px;
}

.popup__input_type_about {
	margin: 0 0 48px;
}

.popup__btn {
	width: 358px;
	height: 50px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	background: #000;
	border: none;
	border-radius: 2px;
	padding: 0;

	
}


/* _________________________МЕДИАЗАПРОСЫ________________________ */


@media screen and (max-width: 1023px) {
	.header-content {
		margin: 45px 50px 40px;
	}

	.content {
		margin: 0 50px 0;
	}

	.profile__info-title {
		font-size: 32px;
		line-height: 38px;
	}

	.footer {
		margin: 45px 50px 40px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		min-height: 56px;
		margin: 28px 0 42px;
	}

	.header__logo {
		width: 103px;
		margin: 0 0 0 42px;
	}

	.content {
		margin: 0 19px 0;
	}

	.profile {
		flex-direction: column;
		margin: 0 0 53px;
	}

	.profile__avatar {
		margin: 0 0 26px;
	}

	.profile__info {
		gap: 14px 10px;
		margin: 0 0 36px;
	}

	.profile__info-title {
		font-size: 27px;
		line-height: 33px;
	}

	.profile__edit-btn {
		width: 18px;
		height: 18px;
		margin: 2px 0 0;
	}

	.profile__info-subtitle {
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}

	.profile__add-btn {
		margin: 0;
		width: 282px;
		height: 50px;
	}

	.profile__add-img {
		width: 16px;
	}

	.footer {
		margin: 48px 19px 36px;
	}
}

@media screen and (max-width: 567px) {
	.header__logo {
		margin: 0 0 0 27px;
	}
}
