.profile__edit-btn {
	width: 24px;
	height: 24px;
	background: none;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0 0;
	padding: 0;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.profile__edit-btn:hover {
	opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.profile__edit-btn {
		width: 18px;
		height: 18px;
		margin: 2px 0 0;
	}
}